p {
  font-size: 18px;
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
}

h1 {
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
}

body {
  background: url('gym-photo.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.login-form {

}