p, td, .my-text{
  font-size: 18px;
  color: whitesmoke;
  text-shadow: 2px 5px 5px black;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
}

h1, .my-tittle{
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
}

body {
  background: url('gym-photo.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}